In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives...under #excersise 3

__Objectives__:

* List popular languages for Data Science
* List data science libraries
* Open Source Data Science tools

In [ ]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL
4) JavaScript
5) Julia

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Seaborn
4. Matbotlib
5. TensorFlow

In [5]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools|
| ------------- |
| RStudio |
| Jupyter |
| Apache Spark |

In [ ]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples


### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [17]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

In [20]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Evangelia Ioannidi